.root {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas: "photo info";
    gap: 8px;
    padding: 16px;
    width: 100%;
}

.photo {
    border-radius: 32px;
    grid-area: photo;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid var(--border);
    box-shadow: 0 8px 32px #733959,
                inset 0 4px 20px rgba(255, 255, 255, 0.3);
}

.info {
    color: var(--light-text);
    padding: 8px;
    grid-area: info;
}