.root {
    width: 100%;
    height: 100%;
    background-color: var(--background-secondary);
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #333;
    box-sizing: border-box;
}

.description {
    margin-top: 8px;
}